@import url('https://fonts.googleapis.com/css?family=Roboto');


html, body {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.a{
  fill:#D3D3D3;
}
.b{
  fill:#D3D3D3;
  stroke-width:2;
  stroke:#FFF;
}
#DC2 {
  fill:#D3D3D3;
  stroke-width:2;
  stroke:#FFF
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
