.a:hover {
  fill: #747474;
  cursor: pointer;
}

.a {
  transition: 0.5ms;
}

.correct {
  fill: #3c43aa;
  pointer-events: none;
}
.correct:hover{
  fill: #3c43aa;
  cursor: default;
}
.incorrect {
  fill: #e7130c;
}
.incorrect:hover{
  fill: #e7130c;
  cursor: default;
}
.correct>span:after {
  content: ' CORRECT';
}
.r {
  fill: #D3D3D3;
}
.attempt__1{
  fill: #c9a33d !important;
}
.attempt__2{
  fill: #c9653d !important;
}

.incorrect>span:after {
  content: ' INCORRECT';
}

svg {
  order: 1;
  height: 100%;
  width: 900px;
  flex: 2 0 0%;
  padding-left: 50px;
  padding-right: 50px;
}

.Map__Card {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  padding: 50px;
}

.Answer {
  height: 40px;
}

.CurrentState {
  height: 40px;
}