.ScoreCard {
  width: 250px;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  border: solid 1px black;
  padding: 20px;
  order: 0;
  flex: 1 1 0%;
}

.ScoreCard ul {
  list-style: none;
  padding: 20px;
}

.Percent {
  font-size: 1.9em;
}

.Status {
  font-size: 1.5em;
}

.Refresh {
  font-size: 2.5em;
  color: #3498db;
  cursor: pointer;
}